.sunmark {
    text-align: center;
    color: $sunmark-blue;

    .container {
        max-width: $content-max-width;
        margin: 0 auto;
    }

    h1,
    h2 {
        color: $sunmark-blue;
        font-weight: 800;
    }

    h1 {
        color: $sunmark-blue;
        font-size: 46px;
        line-height: 40px;

        span {
            font-weight: 500;
        }
    }

    h2 {
        margin: 50px 0 20px;
        font-size: 25px;
    }

    p {
        color: $sunmark-text;
        line-height: 20px;
    }

    .nav {
        text-align: left;
    }

    .sidebar {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        width: 40%;

        @include mobile-full-width();

        button {
            background: $sunmark-green;
            border: 0;
            border-radius: 10px;
            box-shadow: 3px 3px 9px -3px rgba(0, 0, 0, 0.75);
            margin-bottom: 30px;
            color: $white;
            padding: 10px 18px;
            width: 250px;

            @media only screen and (max-width: $xl-breakpoint) {
                width: 180px;
            }

          &:hover {
            background: lighten($sunmark-green, 10%);
          }
        }


        img {
            height: auto;
            margin-right: 10px;
            width: 40px;
        }


        &.btn-row {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            position: absolute;
            padding: 0;
            width: 100%;

            >a {
                margin:0 23px;
            }

            @include translate-x-center();

            @media only screen and (max-width: $lg-breakpoint) {
                margin-top: 110px;
                width: 670px;
            }
            @media only screen and (max-width: $md-breakpoint) {
                margin-top: 90px;
                width: 83%;
            }
            @media only screen and (max-width: $sm-breakpoint) {
                margin-top: 130px;
            }

            @media only screen and (max-width: 415px) {
                margin-top: 0px;
            }
        }
    }
}